body {
    width: 80vw;
    height: 80vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-size: 1.5vw;

}

.inputfield {
    position: relative;
    width: 30vw;
    max-height: 10vh;
    min-height: 6vh;
    margin-bottom: 2vh;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5vw;
}

.button {
    width: 30vw;
    height: 8vh;
    margin-bottom: 2vh;
    background-color: #8bc34a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    border-radius: 5px;

}

.roundButton{
    width: 10%;
    height: 60%;
    margin-bottom: 3%;
    background-color: #bcca1d;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid;
    border-color: #ffffff;
    position: relative;
    margin-top: 1%;
    margin-left: 40%;
}

.tasks-button{
    margin-bottom: 0;
    margin-top: 2vh;
    font-size: 1.5vw;
}

button:hover {
    background-color: #2c3e50;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.main {
    background-color: #dce9e0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    position: absolute;
}
.menu-link{
    text-decoration: none;
    font-size: 1vw;
    color: #ffffff;
    font-family: "Lucida Sans Unicode";
}

ul{
    padding: 0;
    margin-top: 0;
}

.menu-item{
    list-style-type: none;
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    text-align: center;
}

nav a {
    display: block;
    padding: 9px 0;
    background-color: #2c3e50;
}


nav a:hover {
    background-color: #8d9791;
}

nav a:active{
    background-color: #8bc34a;
}

.menu {
    width: 20vw;
    height: 93vh;
    position: absolute;
    background-color: #2c3e50;
    left: -20vw;
    transition: all .3s ease-in-out;
    top: 7vh;
    z-index: 5;
}

.menu-icon{
    width: 3%;
    height: 7vh;
    background:#8bc34a;
    color: #ffffff;
    cursor: pointer;
    position:absolute;
    font-size: 2vw;
    z-index: 4;
    left: 0;
    transition: all .3s ease-in-out;
    padding-left: 10px;
}

.menu-icon:hover{
    color: #2c3e50;
}

.menu-header{
    margin: 0;
    padding: 0;
}

.menu-title{
    color: #ffffff;
    font-family: "Lucida Sans Unicode";
    font-size: 4vw;
}

#menuToggle{
    display: none;
}

#menuToggle:checked ~ .menu{
    position: absolute;
    left: 0;
}

#menuToggle:checked ~ .content {
    width: 79vw;
    height: auto;
    float: right;
    position: relative;
    margin:0 auto;
}

#menuToggle:checked ~ .dashboard-elem-large{
    float: none;
}

#menuToggle:checked ~.stp-elem{
    margin-left: 0;
}

.site-header{
    width: 100%;
    height: 7vh;
    position: fixed;
    background-color: #8bc34a;
    float: right;
    transition: all .3s ease-in-out;
    z-index: 3;
    margin-bottom: auto;
}

.personIcon{
    position: relative;
    width: 10%;
    height: 100%;
}

.inlineIcon{
    position: relative;
    width: 10%;
    height: 10%;
}

.logo{
    width: 50%;
    height:auto;
    position:relative;
    top: 5px;
}

.content{
    width: 100%;
    height: 100%;
    position: relative;
    text-align:center;
    background-color: #dce9e0;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}

.dashboard{
    text-align: center;
    visibility: visible;
    position: relative;
    top: 7vh;
}

.dashboard-elem{
    width:18.3vw;
    height: 15vh;
    display: inline-block;
    border-radius: 2px;
    margin-left: 0.228%;
    margin-right: 0.228%;
    margin-top:2%;
    background-size: contain;
    background-repeat: no-repeat;
}

.stp-elem{
}

.mail-im{
    background-image: url("./images/mail_icon.png");
}

.guests-im{
    background-image: url("./images/person_icon.png");
}

.arrival-im{
    background-image: url("./images/enter_icon.png");
}

.departure-im{
    background-image: url("./images/exit_icon.png");
}

.tab-top{
    width: 100%;
    height: 20%;
    position: relative;
    box-shadow: 0px 6px 5px rgba(136, 136, 136, 0.36);
    border-radius: 2px;
}

.tab-side{
    width: 30%;
    height:100%;
    position:relative;
    text-align: center;
    box-shadow: 6px 0px 5px rgba(136, 136, 136, 0.36);
    border-radius: 2px;
}

.weather-tab-top{
    width: 100%;
    height: 45%;
    position: relative;
    box-shadow: 0px 6px 5px rgba(136, 136, 136, 0.36);
    background-color: #bcca1d;
}

.weather-elem{
    width:24%;
    height: 45%;
    position: relative;
    display: inline-block;
    margin: 2.5% auto;
    float: left;

}

.weather-text{
    font-family: "Lucida Sans Unicode";
    font-size: 1vw;
    color: #2c3e50;
}

.weather-icon{
    position: relative;
    width: 25%;
    height: auto;
}
.separation-elem{
    border-right:1px solid #c4cec8;
}

.menu-image{
    width: 10%;
    height: auto;
    position:relative;
}

.icon-image{
    width:20%;
    height: auto;
    position: relative;
}

.first-tab{
    background-color: #2196f3;
}

.second-tab{
    background-color: #19c37b;
}

.third-tab{
    background-color: #4caf50;
    position: relative;
}

.fourth-tab{
    background-color: #f44336;
    position: relative;
}

.fifth-tab{
    background-color: #ffa00e;
    position: relative;
}

.sixth-tab{
    background-color: #bcca1d;
    position: relative;
}

.tab-image{
    position: relative;
    width: auto;
    height: 70%;
    float: right;
    margin-top:0;
}

.small-tab-title{
    margin:0 auto;
    color: #ffffff;
    position: relative;
    float: right;
    margin-right: 5%;
    font-family: "Lucida Sans Unicode";
    font-size: 1.5vw;
}

.medium-tab-title{
    margin:0 auto;
    color: #ffffff;
    position: relative;
    font-family: "Lucida Sans Unicode";
    font-size: 1.5vw;
}

.tab-content{
    color: #303030;
    position: relative;
    font-family: "Lucida Sans Unicode";
    font-size: 1vw;
    float: left;
    margin: 0 auto;
}

.dashboard-elem-large-large{
    width: 70.2vw;
    height: 60vh;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    margin-left: 2.5%;
    margin-right: 0.228%;
    margin-top:1%;
    margin-bottom:0;
}

.dashboard-elem-large{
    width: 37.2vw;
    height: 60vh;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    margin-left: 2.5%;
    margin-right: 0.228%;
    margin-top:1%;
    margin-bottom:0;
    float: left;
}

.dashboard-tasks{
    float:left;
}

.dashboard-elem-medium{
    width: 37.2vw;
    height: 29vh;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 2px;
    margin-left: 0.5%;
    margin-right: 0.228%;
    margin-top:1%;
    margin-bottom:0;
    float: left;
}

.tasksList{
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
}

.tasksItem{
    text-decoration: none;
    font-family: "Lucida Sans Unicode";
    font-size: 1vw;
    margin-top: 1%;
    color: #8d9791;
}

.medium-first{
    background-color:#05979d ;
}

.medium-second{
    background-color: #ff3c54;
}

.cashier{
    visibility: hidden;
    position: absolute;
    top: 7vh;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
    height: 93vh;
    width: 100%;
}

.cashierForm{
    margin-left: 10%;
    margin-right: 10%;
}

td{
    vertical-align: middle;
}

.reservations{
    text-align: center;
    visibility: hidden;
    position: absolute;
    top: 7vh;
}

.instructionsText{
    color: #dce9e0;
    font-family: "Lucida Sans Unicode";
    float: right;
    font-size: 1.3vw;
}

.informationText{
    color: #dce9e0;
    font-family: "Lucida Sans Unicode";
    font-size: 3vw;
    position: inherit;
    margin: 0 auto;
    float: right;
}

.facilities{
    visibility: hidden;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 7vh;
}

.tasks{
    visibility: hidden;
    position: absolute;
    top: 7vh;
}

.mail{
    visibility: hidden;
    position: absolute;
    top: 7vh;
}

.business{
    visibility: hidden;
    position: absolute;
    text-align: center;
    top: 7vh;
    width: 100%;
    margin: 0 auto;
}

.business-large-elem{
    float: left;
    width: 35vw;
    height: 63vh;
    display: inline-block;
}

.business-medium-elem{
    float: left;
    height:20vh;
    background-color:#19c37b;
}

.graph-canvas{
    width: 70%;
    height: 100%;
    position: relative;
    float: right;
}

.reservations-list{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    position: relative;
}

.reservations-button{
    width: 30%;
    position: relative;
    float: right;
    margin-right: 5%;
    font-size: 1.5vw;
}

.newTask-button{
    width: 20%;
    position: relative;
    float: none;
    font-size: 1.5vw;
}

.tasksItem:hover{
    background-color: #8d9791;
    color: white;
}

.active{
    background-color: #4caf50;
}

.reservationsInput{
    position: relative;
    margin-top: 1vh;
    font-size: 1.5vw;
}

.reservations-form{
    position: relative;
    margin: 0 auto;
}

.reservationTable{
    position: relative;
    width: 100%;
    height: 100%;
}

.cashierTable{
    background-color: white;
    color: #2c3e50;
    font-family: "Lucida Sans Unicode";
    font-size: 1.5vw;
    position: relative;
    width: 100%;
    height: 100%;
}

.cashierBody{
    max-height: 80vh;
    position: relative;
    background-color: white;
    font-family: "Lucida Sans Unicode";
    font-size: 1.5vw;
}

.scrollable{
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    max-height: 80%;
    display: inline-table;
}

.activeReservation{
    background-color: #2c3e50;
}

.cancel-button{
    background-color: #f44336;
    font-size: 1.5vw;
}

.button-column{
    position: relative;
    width: 10%;
    height: auto;
    float: right;
    font-size: 1.5vw;
}

.inline-boxes{
    display: table-cell;
    vertical-align: middle;
}

.tasksItem:focus{
     background-color: #2c3e50;
     color: white;
 }

.overlaycontainer{
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 93vh;
    background-color: rgba(0,0,0,0.7);
    top: 7vh;
    text-align: center;
}

.thinInput{
    width: 20%;
    font-size: 1.5vw;
}

.mediumInput{
    width: 50%;
    font-size: 1.5vw;
}

.thinButton{
    width: 20%;
    font-size: 1.5vw;
}

.cashierTop{
    background-color: #4caf50;
    font-family: "Lucida Sans Unicode";
    color: #dce9e0;
}

.cashierItem{
    font-family: "Lucida Sans Unicode";
    color: #dce9e0;
}

.billForm {
    height: 100%;
}

.finalTable{
    background-color: #4caf50;
    float: right;
    position: relative;
    margin: 0 auto;
    margin-bottom: 10%;
}

.notMainNumbers{
    float: none;
}

.tasksInput{
    width: 40%;
    font-size: 1.5vw;
}