<body>
<div class="main" id="main">
    <input type="checkbox" checked="checked" id="menuToggle">
    <label for="menuToggle" class="menu-icon">&#9776;</label>
    <header class="site-header">
    </header>
    <nav class="menu">
        <ul id="menuList">
            <li class="menu-header"><a class="menu-link" href="#" id="navigacija"><img src="images/HMS_logo.png"
                                                                                       class="logo"
                                                                                       alt="Ne najdem slike"></a>
            </li>
            <li class="menu-header"><a class="menu-link active" href="#" id="dashboardLink">Domov</a></li>
            <li class="menu-item"><a class="menu-link" href="#" id="cashierLink">Blagajna</a></li>
            <li class="menu-item"><a class="menu-link" href="#" id="reservationsLink">Rezervacije</a></li>
            <li class="menu-item"><a class="menu-link" href="#" id="facilitiesLink">Kapacitete</a></li>
            <li class="menu-item"><a class="menu-link" href="#" id="tasksLink">Opravila</a></li>
            <li class="menu-item"><a class="menu-link" href="#" id="mailLink">E-pošta</a></li>
            <li class="menu-item"><a class="menu-link" href="#" id="businessLink">Poslovanje</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="dashboard" id="dashboard">
            <div class="dashboard-elem first-tab arrival-im">
                <h2 class="small-tab-title">Prihodi</h2>
                <br>
                <h1 class="informationText">0</h1>
            </div>
            <div class="dashboard-elem second-tab departure-im">
                <h2 class="small-tab-title">Odhodi</h2>
                <br>
                <h1 class="informationText">0</h1>
            </div>
            <div class="dashboard-elem third-tab guests-im">
                <h2 class="small-tab-title">Gosti</h2>
                <br>
                <h1 class="informationText">0</h1>
            </div>
            <div class="dashboard-elem mail-im fourth-tab">
                <h2 class="small-tab-title">Sporočila</h2>
                <br>
                <h1 class="informationText">0</h1>
            </div>
            <div class="dashboard-elem-large stp-elem" id="tasksList">
                <div class="fifth-tab tab-top">
                    <h2 class="medium-tab-title">Opravila</h2>
                </div>
                <ul class="tasksList">
                    {{#each tasks}}
                        {{> task}}
                    {{/each}}
                </ul>
            </div>
            <div class="dashboard-elem-medium">
                <canvas class="graph-canvas" id="graphCanvas"></canvas>
                <div class="tab-side medium-first">
                    <h2 class="medium-tab-title">Nočitve</h2>
                </div>
            </div>
            <br>
            <div class="dashboard-elem-medium">
                <div class="weather-tab-top">
                    <h2 class="medium-tab-title">Vreme</h2>
                </div>
                <div class="weather-elem separation-elem">
                    <img src="images/Weather%20Sun.ico" class="weather-icon" alt="Ne najdem slike">
                    <br>
                    <h1 class="weather-text">Pon</h1>

                </div>
                <div class="weather-elem separation-elem">
                    <img src="images/Weather%20Sun.ico" class="weather-icon" alt="Ne najdem slike">
                    <br>
                    <h1 class="weather-text">Tor</h1>
                </div>
                <div class="weather-elem separation-elem">
                    <img src="images/Weather%20Sun.ico" class="weather-icon" alt="Ne najdem slike">
                    <br>
                    <h1 class="weather-text">Sre</h1>
                </div>
                <div class="weather-elem">
                    <img src="images/Weather%20Sun.ico" class="weather-icon" alt="Ne najdem slike">
                    <br>
                    <h1 class="weather-text">Čet</h1>
                </div>
            </div>
        </div>
        <div class="cashier" id="cashier">
            <form class="cashierForm">
                <br>
                <input type="text" class="inputfield mediumInput" placeholder="ID rezervacije/artikla"
                       id="articleInput">
                <input type="number" class="inputfield thinInput" placeholder="količina" id="quantityInput">
                <button type="button" class="button thinButton" id="addItem">Dodaj</button>
                <hr>
                <table class=cashierTable>
                    <thead id="titleRow">
                    <tr>
                        <td class="cashierTop">Naziv</td>
                        <td class="cashierTop">EM</td>
                        <td class="cashierTop">Cena/EM</td>
                        <td class="cashierTop">Količina</td>
                        <td class="cashierTop">Znesek</td>
                    </tr>
                    </thead>
                    <tbody class="cashierBody" id="cashierTable">

                    </tbody>
                </table>
                <hr>
                <table class="finalTable">
                    <tr>
                        <td>
                            <h2 class="instructionsText" id="totalAmount">0.00 EUR</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="instructionsText">23 %</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2 class="instructionsText" id="finalAmount"> 0 EUR</h2>
                        </td>
                    </tr>
                </table>
                <button type="button" class="button thinButton cancel-button" id="cancelBill">Pobriši račun</button>
                <button type="button" class="button thinButton" id="finishBill">Zaključi račun</button>
            </form>
        </div>
        <div class="reservations" id="reservations">
            <form class="reservations-form">
                <div class="dashboard-elem-large-large" id="reservationsList">
                    <div class="sixth-tab tab-top">
                        <input type="search" class="inputfield reservationsInput" placeholder="Poišči rezervacijo">
                        <button type="button" class="roundButton" id="newReservation">+</button>
                    </div>
                    <ul class="tasksList">
                        <li class="tasksItem" tabindex="1">
                            <table class="reservationTable">
                                <tr>
                                    <td>idRezervacije</td>
                                    <td>Datum</td>
                                    <td>Storitev</td>
                                    <td>Ime in priimek</td>
                                    <td>Št. sobe</td>
                                </tr>
                            </table>
                        </li>
                        {{#each rezervacije}}
                            {{> rezervacija }}
                        {{/each}}
                    </ul>
                </div>
                <button type="button" class="button reservations-button">Prevzem</button>
                <button type="button" class="button reservations-button cancel-button">Izbris</button>
            </form>
        </div>
        <div class="facilities" id="facilities">
            <div class="dashboard-elem-large business-large-elem" id="facilitiesList">
                <div class="second-tab tab-top">
                </div>
                <ul class="tasksList">
                    <li class="tasksItem" tabindex="1">
                        <table class="reservationTable">
                            <tr>
                                <td>Št. sobe</td>
                                <td>Status</td>
                            </tr>
                        </table>
                    </li>
                    {{#each kapacitete}}
                        {{> kapaciteta }}
                    {{/each}}
                </ul>
            </div>
            <div class="dashboard-elem-medium business-medium-elem">
                <h2 class="medium-tab-title">Zasedene kapacitete</h2>
                <br>
                <h2 class="informationText notMainNumbers">0</h2>
            </div>
            <br>
            <div class="dashboard-elem-medium business-medium-elem">
                <h2 class="medium-tab-title">Proste kapacitete</h2>
                <br>
                <h1 class="informationText notMainNumbers">0</h1>
            </div>
            <div class="dashboard-elem-medium business-medium-elem">
                <h2 class="medium-tab-title">Število gostov</h2>
                <br>
                <h1 class="informationText notMainNumbers">0</h1>
            </div>
        </div>
        <div class="tasks" id="tasks">
            <div class="dashboard-elem-large" id="tasksListOnTasks">
                <div class="fifth-tab tab-top">
                    <h2 class="medium-tab-title">Opravila</h2>
                </div>
                <ul class="tasksList">
                    {{#each tasks}}
                        {{> task}}
                    {{/each}}
                </ul>
            </div>
            <button type="button" class="button tasks-button" id="addTask">Dodaj opravilo</button>
            <button type="button" class="button tasks-button cancel-button">Izbriši opravilo</button>
        </div>
        <div class="mail" id="mail">
            <div class="dashboard-elem-large-large mail-list" id="mailList">
                <div class="sixth-tab tab-top">

                </div>
                <ul class="tasksList">
                    <li class="tasksItem" tabindex="1">
                        <table class="reservationTable">
                            <tr>
                                <td>Datum</td>
                                <td>Pošiljatelj</td>
                                <td>Zadeva</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <div class="business" id="business">
            <div class="dashboard-elem-large business-large-elem" id="businessGraph">
                <div class="second-tab tab-top">
                    <h2 class="medium-tab-title">Čisti mesečni dobiček</h2>
                </div>
            </div>
            <div class="dashboard-elem-medium business-medium-elem">
                <h2 class="medium-tab-title">Prihodki ta mesec</h2>
                <br>
                <h1 class="informationText notMainNumbers">0</h1>
            </div>
            <br>
            <div class="dashboard-elem-medium business-medium-elem">
                <h2 class="medium-tab-title">Odhodki ta mesec</h2>
                <br>
                <h1 class="informationText notMainNumbers">0</h1>
            </div>
            <div class="dashboard-elem-medium business-medium-elem">
                <h2 class="medium-tab-title">Dobiček ta mesec</h2>
                <br>
                <h1 class="informationText notMainNumbers">0</h1>
            </div>
        </div>
    </div>
</div>
<div class="overlaycontainer" id="overlayDiv">
    <form>
        <br>
        <input type="date" class="inputfield" id="arrivalDate">
        <br>
        <input type="date" class="inputfield" id="departureDate">
        <br>
        <input type="number" class="inputfield" placeholder="število oseb" id="numPersons">
        <br>
        <hr>
        <br>
        <input type="text" class="inputfield" placeholder="Ime" id="name">
        <br>
        <input type="text" class="inputfield" placeholder="Priimek" id="surname">
        <br>
        <input type="email" class="inputfield" placeholder="E - pošta" id="Email">
        <br>
        <input type="tel" class="inputfield" placeholder="Telefon" id="phone">
        <br>
        <hr>
        <button type="button" class="button reservations-button" id="confirmNewReservation">Dodaj</button>
        <button type="button" class="button reservations-button cancel-button" id="cancelNewReservation">Prekliči
        </button>
    </form>
</div>
<div class="overlaycontainer" id="tasksOverlay">
    <form class="new-task">
        <br>
        <input type="text" name="text" id="taskText" class="inputfield tasksInput" placeholder="Vpišite opravilo">
        <br>
        <button type="button" class="button newTask-button cancel-button " id="cancelNewTask">Prekliči</button>
        <button type="submit" class="button newTask-button" id="confirmNewTask">Dodaj</button>
    </form>
</div>
</body>
<template name="kapaciteta">
        <li class="tasksItem" tabindex="1">
            <table class="reservationTable">
                <tr>
                    <td>{{stSobe}}</td>
                    <td>{{Aktivna}}</td>
                </tr>
            </table>
        </li>
</template>