<template name="rezervacija">
    <li class="tasksItem" tabindex="1">
        <table class="reservationTable">
            <tr>
                <td>{{this._id._str}}</td>
                <td>{{prihod}}</td>
                <td>{{ime}}</td>
                <td>{{soba}}</td>
            </tr>
        </table>
    </li>
</template>